:root {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: rgb(34, 34, 34);

    --border-color: rgb(185, 185, 185);
    --border: 1px solid var(--border-color);
    --border-radius: 6px;
    --caption-color: #3B5998;
}

html {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: calc(24px + 0.5rem);
    right: 0;
}

header nav {
    border: var(--border);
    border-radius: var(--border-radius);
    margin: 0.5rem 0 2rem 0;
}

header nav ul {
    padding: 0;
    margin: 1rem;
}

header nav ul li {
    display: inline;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-family: Arial, sans-serif;
    margin-right: 1rem;
}

header nav ul li .cur_menu {
    border-bottom: solid 3px var(--caption-color);
}

.middle {
    display: flow-root;
}

aside {
    float: right;
    width: 20rem;
}

aside section {
    border: var(--border);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-bottom: 1rem;
}

aside section .header {
    border-bottom: var(--border);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→ ";
    font-size: 1.1rem;
}

aside section .body {
    padding: 0.25rem;
}

aside section .footer {
    border-top: var(--border);
    padding: 0.25rem;
    text-align: right;
    font-size: 0.8rem;
}

aside section .footer a:after {
    content: " →";
}

main {
    margin-right: 21rem;
}

main article {
    margin-bottom: 2rem;
}


main article .title {
    text-decoration: none;
    color: #483d99;
    font-size: x-large;
}

main article .information {
    color: var(--border-color);
    margin-top: 1rem;
}

main article .body {
    border-left: 3px solid var(--border-color);
    padding-left: 10px;
    margin-top: 1rem;
}

main article ul.attachment {
    padding-left: 0;
    margin-top: 2rem;
}

main article ul.attachment li {
    color: var(--border-color);
    padding-left: 18px;
    background: url(../img/paperclip-16x16.png);
    background-repeat: no-repeat;
    list-style-type: none;
}


main article .footer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flow-root;
}

main article .footer .left {
    display: inline;
    float: left;
    margin: 0.5rem 0 0.2rem 0.5rem;
}

main article .footer .left img, span {
    vertical-align: middle;
}

main article .footer .right img, a {
    vertical-align: middle;
}

main article .footer .right {
    display: inline;
    float: right;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

main .user-table {
    position: relative;
}

main .user-table .caption {
    border-collapse: collapse;
    border: var(--border);
    background-color: var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 0.3rem 0 0.2rem 0.5rem;
}

main .user-table table {
    border-collapse: collapse;
    width: 100%;
}

main .user-table table th, td {
    border: var(--border);
    text-align: center;
    padding: 0.3rem 0 0.3rem 0;
}

main .user-table table thead th {
    font-weight: bold;
}

main .user-table table tbody tr:nth-child(2n+1) {
    background-color: rgb(220, 220, 220);
}

main .user-section {
    display: flow-root;
    border: var(--border);
    border-radius: var(--border-radius);
}

main .user-section > div > a {
    font-size: x-large;
    margin: 0.1rem 0 0 0.5rem;
}

main .user-section div {
    display: inline-block;
}

main .user-section ul li {
    margin-top: 0.3rem;
}

main .user-section img {
    float: right;
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0;
}

main .usr_link_arrow {
    color: blue;
    font-size: 200%;
}

main .just_arrow {
    color: rgb(185, 185, 185);
    font-size: 200%;
}

footer {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: var(--border);
    text-align: center;
}